.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
/* SHAME - Bad CSS practices ahead */
/* Custom */
.fw-md {
  font-weight: 800 !important;
}

.h-lg {
  height: 35rem;
}

.font-1-5 {
  font-size: 1.5rem;
}

.image-wrapper-sm {
  object-fit: cover;
  border-radius: 50%;
  height: 15rem;
  width: 100%;
}
/* BOOTSTRAP Overwrites */
.card-title {
  color: #ee8301;
}

/* ANTD Overwrites */
.ant-btn-primary {
  background-color: #ee8301 !important;
  border-color: #ee8301 !important;
}

.ant-slider-handle {
  border-color: #ee8301 !important;
}

.ant-slider-track {
  background-color: #282c34 !important;
}